* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    margin: 1px;
    background: #111;
}

#text-area {
    width: 95%;
    max-width: 620px;
    height: 44%;
    position: absolute;
    top: 3vh;
    left: 50%;
	padding: 10px;
    transform: translate(-50%, 0);
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    color: #fce;
	background-color: #333;
	border: 1px silver solid;
	outline: none;
}

.keyboard {
    width: 100%;
    max-width: 800px;
    height: 50%;
    display: grid;
    position: fixed;
    bottom: 0;
    left: 50%;
    grid-template-columns: repeat(10, auto);
    transform: translate(-50%, 0);
	user-select: none;
}

.keyboard > button {
    background-color: #393939;
	outline: none;
	border: none;
	color: #ccc;
	margin: 1px;
}

.keyboard > button:nth-child(-n+10) {
	color: #7ff;
}

.keyboard > button:nth-child(n+48),button:nth-child(19), button:nth-child(20), button:nth-child(37) {
	color: #ee9;
}

.keyboard > button:hover {
    background-color: #50FF85;
}

.keyboard > button:active {
    background-color: #f8c
}

.keyboard-span {
    grid-column: 2 span;
}

.keyboard-space {
    grid-column: 2 / -2
}

@media only screen and (max-width: 500px) {
  .keyboard {
    height: 40%;
  }
}